.title-collapse {
    display: inline-block;
    margin: 0 20px 0 0;
}

.button-collapse {
    width: 10rem;
    vertical-align: middle;
    color: #495057;
}

.card-activitySummary {
    width: 100%;
}

.ul-legend {
    list-style-type: none;
    padding: 0;
}

.bullet-legend__li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.label-legend__li {
    display: inline-block;
    color: #495057;

    &:hover {
        font-weight: 600;    
    } 
    cursor: default; 
}

.graphicCol {
    canvas {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.noDataShow__p {
    font-size: 2rem;
    color: $blue;
    font-weight: 400;
    margin-top: 1rem;
}

.collapse__container {
    width: 100%;
}
