.popover {
    min-width: 500px !important;
    min-height: auto !important;
}

.ring-container {
    margin: 2rem 0;
    width: auto;
    height: auto;
}

.popover-title {
    color: #495057;
    font-weight: 400;
    font-size: 1.8rem;

}

.title-collapse {
    display: inline-block;
    margin-right: 20px;
}

.button-collapse {
    width: 10rem;
    vertical-align: middle;
}